__pycache__/
*.py[cod]
env/
.venv/
venv/
build/
dist/
*.egg-info/
.eggs/
node_modules/
*.log
.env
.env.*
.pytest_cache/
.mypy_cache/
coverage/
*.cover
.hypothesis/
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
.git/
.gitignore
cache/
downloads/
*.session-journal
*.session
