.DS_Store
*.session
raw_files/
downloads/
*.session-journal
.env
.venv
venv/
venv_old/
*.log
log.txt
cache/
Opus/cache/
__pycache__/
*.pyc
Opus/assets/
Opus/assets/
tgban.json
ffiles.json
*.bak
.DS_Store
logs/
api.txt
