# Telegram Credentials
DRIVER_ID=
DRIVER_HASH=
DRIVER_TOKEN=

# Target Group Chat / channel username 
TARGET_CHAT_ID=

# Paths dir of your vps server
DOWNLOADS_DIR=/downloads
CACHE_FILE=/ffiles.json

# Timing / Retry per file & sleep time bw forwards
DEFAULT_INTERVAL=10
MAX_RETRY_ATTEMPTS=2

# authorised Users to manage the bot (space separated)
AUTHORIZED_USERS=

# Limits
MAX_FILE_SIZE_MB=2048
